{% include "main.header.twig" %}
{% include "main.navigation.twig" %}
<main class="lp-shell">
    <div class="lp-container">
        {% block content %}{% endblock %}
    </div>
</main>
{% include "main.footer.twig" %}