{% extends "layout.light.twig" %}

{% block title %}{{ LNG.siteTitleRules }}{% endblock %}
{% block content %}
<div class="lp-card">
	<div class="lp-card__header">
		<h2 class="lp-card__title">{{ LNG.siteTitleRules }}</h2>
	</div>
	<div class="lp-card__body">
		<div class="lp-text-content">
			{{ rules|raw }}
		</div>
	</div>
</div>
{% endblock %}