{% include "ins_header.twig" %}

<h2>{{ fcm_info }}</h2>
<div class="ins-alert-error" style="margin-top:12px">
	<i class="fas fa-exclamation-triangle"></i>
	{{ mes|raw }}
</div>

{% include "ins_footer.twig" %}