{#
	2MoonsCE

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "ins_header.twig" %}

<h2>{{ LNG.step3_head }}</h2>
<div class="ins-info" style="margin:12px 0 20px"><i class="fas fa-info-circle"></i> {{ LNG.step3_desc }}</div>

<a href="index.php?mode=install&step=6"><button><i class="fas fa-arrow-right"></i> {{ LNG.continue }}</button></a>

{% include "ins_footer.twig" %}