{% include "ins_header.twig" %}

<div class="fatalerror"><p>{{ message|raw }}</p></div>

<div style="margin-top:20px">
	<a href="index.php?mode=install&step=7&amp;username={{ username }}&amp;email={{ mail }}"><button><i class="fas fa-arrow-left"></i> {{ LNG.back }}</button></a>
</div>

{% include "ins_footer.twig" %}