<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="0;URL=admin.php?page=overview">
<script>window.location.href = 'admin.php?page=overview';</script>
</head>
<body style="background:#0a0e17;">
<p style="color:#e2e8f0;">Weiterleitung...</p>
</body>
</html>
